<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="userName" id="" placeholder="username">
        <input type="email" name="userEmail" id="" placeholder="userEmail">
        <input type="password" name="userPass" id="" placeholder="password">
        <p>User Role</p>
        <div>
            <input type="radio" name="role" id="Admin" value="Admin">
            <label for="Admin">Admin</label>
        </div>
        <div>
            <input type="radio" name="role" id="Wing" value="Wing">
            <label for="Wing">Wing</label>
        </div>
        <div>
            <input type="radio" name="role" id="student" value="student">
            <label for="student">student</label>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html> -->




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add student</title>
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>
</body>

</html>