<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShaadMaan | {{request.user}}</title>
</head>

<body>
    <h1>Register Student</h1>
      {% if messages %}
  {% for msg in messages %}
  <div class="radio-option">
    <label for="">error</label>
    {{ msg }}
  </div>

  {% endfor %}
  {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>
</body>

</html>